core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
 os.environ.setdefault("DATABASE_URL", "postgres://vzbfqvqy:QLcgnrjQEFmyGkKDKlL4EsKZND-k799o@lucky.db.elephantsql.com/vzbfqvqy")